# task3
## 高考志愿填报指导

In [1]:
import numpy as np
import pandas as pd
import os

### 一、导入、处理数据（一分一段+招生计划+近三年录取情况（含排位））

In [2]:
scoreRank2021DataPath = './data/2021年广东省高考普通类（物理）一分一段数据.txt'
admissionScheme2021DataPath = './data/中山大学2021年分专业招生计划（广东）.txt'
admissionDataPath = './result/中山大学近三年本科批次录取数据（含排名）.xlsx'

In [3]:
scoreRank2021Data = {}
admissionScheme2021Data = {}

with open(scoreRank2021DataPath, 'r', encoding='utf-16') as f2021:
    linecount = 0
    columns = []
    while True:
        line = f2021.readline()
        linecount += 1
        if not line:
            break
        rowDataArr = line.strip().split('\t')

        if linecount==2:    
            columns = rowDataArr
            for (index, item) in enumerate(columns):
                scoreRank2021Data[item] = []   
        elif linecount>2:
            
            if not line.strip():
                continue
            for (index, item) in enumerate(rowDataArr):
                scoreRank2021Data[columns[index]].append(item)   
                
with open(admissionScheme2021DataPath, 'r', encoding='utf-16') as f2021:
    linecount = 0
    columns = []
    while True:
        line = f2021.readline()
        linecount += 1
        if not line:
            break
        rowDataArr = line.strip().split('\t')

        if linecount==2:    
            columns = rowDataArr
            for (index, item) in enumerate(columns):
                admissionScheme2021Data[item] = []   
        elif linecount>2:
            
            if not line.strip():
                continue
            for (index, item) in enumerate(rowDataArr):
                admissionScheme2021Data[columns[index]].append(item)

In [4]:
df_scoreRank2021 = pd.DataFrame(data=scoreRank2021Data)
df_admissionScheme2021 = pd.DataFrame(data=admissionScheme2021Data)

In [5]:
# 2021年分数-排位数据
df_scoreRank2021

     分数段  人数      累计
0    695  24      24
1    694   5      29
2    693   8      37
3    692   7      44
4    691  10      54
..   ...  ..     ...
591  104   3  337978
592  103   4  337982
593  102   2  337984
594  101   3  337987
595  100   1  337988

[596 rows x 3 columns]

In [6]:
# 2021招生计划数据
df_admissionScheme2021

                专业名称  计划数   科类
0     历史学类（广州，人文实验班）  133  历史类
1    外国语言文学类（卓越人才计划）   99  历史类
2      法学类（广州，社科实验班）  146  历史类
3    历史学类（珠海，新文科实验班）  133  历史类
4        经济学类（经管实验班）  143  历史类
5        经济学类（经管实验班）  286  物理类
6         数学类（数学实验班）  139  物理类
7    计算机类（广州，大数据实验班）  266  物理类
8     计算机类（珠海，智能实验班）  386  物理类
9    计算机类（深圳，新工科实验班）  499  物理类
10       物理学类（物理实验班）  319  物理类
11   生物科学类（广州，理工实验班）  433  物理类
12         临床医学（八年制）   30  物理类
13  临床医学类（深圳，新医科实验班）  249  物理类
14   临床医学类（广州，医学实验班）  326  物理类

In [7]:
# 对"科类"字段去重
df_admissionScheme2021.drop_duplicates(subset=['科类'], keep='first')

             专业名称  计划数   科类
0  历史学类（广州，人文实验班）  133  历史类
5     经济学类（经管实验班）  286  物理类

去重后发现共有历史/物理两种科类
由于所给的”一分一段“数据是物理类的数据，故此处仅需要保留“科类”是物理类的数据条目即可

In [8]:
df_admissionScheme2021 = df_admissionScheme2021[df_admissionScheme2021['科类']=='物理类']
df_admissionScheme2021 = df_admissionScheme2021.reset_index(drop=True)

In [9]:
df_admissionScheme2021

               专业名称  计划数   科类
0       经济学类（经管实验班）  286  物理类
1        数学类（数学实验班）  139  物理类
2   计算机类（广州，大数据实验班）  266  物理类
3    计算机类（珠海，智能实验班）  386  物理类
4   计算机类（深圳，新工科实验班）  499  物理类
5       物理学类（物理实验班）  319  物理类
6   生物科学类（广州，理工实验班）  433  物理类
7         临床医学（八年制）   30  物理类
8  临床医学类（深圳，新医科实验班）  249  物理类
9   临床医学类（广州，医学实验班）  326  物理类

In [10]:
# 读取录取数据，使空数据保持为 ' ' 而非NaN
df_admission = pd.read_excel(admissionDataPath, dtype='str', keep_default_na=False)

In [11]:
# 近三年录取情况数据
df_admission

,专业名称,所属学院,科类,2020最低分,2020最低分排位,2020平均分,2020平均分排位,2019最低分,2019最低分排位,2019平均分,2019平均分排位,2018最低分,2018最低分排位,2018平均分,2018平均分排位
0,新闻传播学类（含新闻学、传播学专业）,传播与设计学院,文科,614,13745,617,12578,618,4248,621,3804,621,4292,624,3824
1,法学,法学院,文科,616,12975,619,11845,617,4422,620,3954,619,4598,624,3824
2,工商管理,管理学院,文科,,,,,,,,,627,3393,630,2992
3,工商管理类（含工商管理、会计学专业）,管理学院,文科,617,12578,619,11845,623,3499,625,3254,,,,
4,会计学,管理学院,文科,,,,,,,,,614,5585,626,3535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,临床医学,中山医学院,理科,653,3057,660,2052,625,3254,632,2372,626,3535,636,2299
113,临床医学（八年制）,中山医学院,理科,672,915,676,655,646,1154,653,771,654,917,659,660
114,图书情报与档案管理类（含图书馆学、档案学专业）,资讯管理学院,理科,,,,,,,,,626,3535,627,3393
115,图书情报与档案管理类（含信息管理与信息系统、图书馆学、档案学专业）,资讯管理学院,理科,638,6008,642,5127,596,9114,613,5159,,,,
116,信息管理与信息系统,资讯管理学院,理科,,,,,,,,,629,3122,631,2870

In [12]:
# 由于只有物理普通类的一分一段数据，故只保留理科的录取情况作为参考
df_admission = df_admission[df_admission['科类']=='理科']

# 由于仅关心排名，故只保留排名
df_admission = df_admission[
    [
        '专业名称', '所属学院',
        '2020最低分排位', '2020平均分排位',
        '2019最低分排位', '2019平均分排位',
        '2018最低分排位', '2018平均分排位'
    ]
]
df_admission = df_admission.reset_index(drop=True)

In [13]:
df_admission

,专业名称,所属学院,2020最低分排位,2020平均分排位,2019最低分排位,2019平均分排位,2018最低分排位,2018平均分排位
0,材料类（含材料物理、材料化学、高分子材料与工程专业）,材料科学与工程学院,6008,5127,5748,4248,5398,4292
1,材料类（含材料物理、材料化学专业）,材料学院,8426,7314,6621,5974,6631,5780
2,地理信息科学,测绘科学与技术学院,,,9114,6834,,
3,遥感科学与技术,测绘科学与技术学院,8426,7030,,,,
4,新闻传播学类（含新闻学、传播学专业）,传播与设计学院,2774,2307,3653,3111,3680,2765
...,...,...,...,...,...,...,...,...
81,临床医学,中山医学院,3057,2052,3254,2372,3535,2299
82,临床医学（八年制）,中山医学院,915,655,1154,771,917,660
83,图书情报与档案管理类（含图书馆学、档案学专业）,资讯管理学院,,,,,3535,3393
84,图书情报与档案管理类（含信息管理与信息系统、图书馆学、档案学专业）,资讯管理学院,6008,5127,9114,5159,,
85,信息管理与信息系统,资讯管理学院,,,,,3122,2870

根据招生计划中的专业名称，再往年数据中查询对应的专业名称
新增的专业会在推荐同类专业时一并给出，并注明为新增专业，如”计算机类（珠海，智能实验班）“

In [14]:
df_admissionScheme2021

               专业名称  计划数   科类
0       经济学类（经管实验班）  286  物理类
1        数学类（数学实验班）  139  物理类
2   计算机类（广州，大数据实验班）  266  物理类
3    计算机类（珠海，智能实验班）  386  物理类
4   计算机类（深圳，新工科实验班）  499  物理类
5       物理学类（物理实验班）  319  物理类
6   生物科学类（广州，理工实验班）  433  物理类
7         临床医学（八年制）   30  物理类
8  临床医学类（深圳，新医科实验班）  249  物理类
9   临床医学类（广州，医学实验班）  326  物理类

In [15]:
queryKeyWordArr = []
tempIndexArr = []
for (index, item) in enumerate(df_admissionScheme2021['专业名称']):
    temp = item[:item.find('（')]
    if temp.find('类')!=-1:
        temp = temp[:temp.find('类')]
    queryKeyWordArr.append(temp)
      
queryKeyWordArr = list(set(queryKeyWordArr))    
# print(queryKeyWordArr)
for keyWord in queryKeyWordArr:
    for (index, item) in enumerate(df_admission['专业名称']):
#         print(keyWord, item)
        if keyWord  in item:
#             print(index)
            tempIndexArr.append(index)

# print(tempIndexArr)
            
df_admission = df_admission.loc[tempIndexArr]    
df_admission = df_admission.reset_index(drop=True)
df_admission

,专业名称,所属学院,2020最低分排位,2020平均分排位,2019最低分排位,2019平均分排位,2018最低分排位,2018平均分排位
0,数学类（含数学与应用数学、统计学专业）,数学学院,2178,1717,2489,1840,2658,2109
1,数学类（含数学与应用数学、信息与计算科学专业）,数学学院（珠海）,3920,3218,3954,3254,4292,3393
2,生物科学,农学院,,,9114,7070,,
3,生物科学类（含生物科学、生物技术、生态学专业）,生命科学学院,4673,3397,4975,3370,5398,3824
4,物理学,物理学院,,,,,3263,1829
5,物理学类（含物理学、光电信息科学与工程（理学）专业）,物理学院,3218,2615,3499,2489,,
6,物理学,物理与天文学院,,,,,5967,4598
7,物理学类（含物理学、天文学专业）,物理与天文学院,5773,4673,5537,4615,,
8,临床医学,医学院,5338,4086,5748,4615,6631,4973
9,临床医学,中山医学院,3057,2052,3254,2372,3535,2299
10,临床医学（八年制）,中山医学院,915,655,1154,771,917,660
11,经济学类（含经济学、金融学、工商管理、会计学专业）,国际金融学院,3218,2774,3954,2974,,
12,经济学类（含国际商务、管理科学、金融学、经济学专业）,岭南学院,1057,841,1154,913,,
13,经济学类（含金融学、经济学专业）,岭南学院,,,,,1508,865
14,计算机类（含计算机科学与技术、网络空间安全专业）,数据科学与计算机学院,,,,,1745,1357
15,计算机类（含计算机科学与技术、网络空间安全、信息与计算科学、软件工程专业）,数据科学与计算机学院（软件学院）,1821,1333,1840,1447,,
16,计算机类（含智能科学与技术、交通工程专业）,智能工程学院,4891,3749,4422,2974,,

In [16]:
tempDict = {
    '近三年最低分排位平均值': [],
    '近三年平均分排位平均值': []
}
for (index_row, row) in df_admission.iterrows():
    rank2020 = 0
    rank2019 = 0
    rank2018 = 0
    
    if row['2020最低分排位']:
        rank2020 = int(row['2020最低分排位'])
    if row['2019最低分排位']:
        rank2020 = int(row['2019最低分排位'])
    if row['2018最低分排位']:
        rank2020 = int(row['2018最低分排位'])    
    avg = (rank2020+rank2019+rank2018) // 3
    tempDict['近三年最低分排位平均值'].append(avg)
    
    if row['2020平均分排位']:
        rank2020 = int(row['2020平均分排位'])
    if row['2019平均分排位']:
        rank2020 = int(row['2019平均分排位'])
    if row['2018平均分排位']:
        rank2020 = int(row['2018平均分排位']) 
    avg = (rank2020+rank2019+rank2018) // 3
    tempDict['近三年平均分排位平均值'].append(avg)

In [17]:
df_admission = df_admission[['专业名称', '所属学院']]
df_admission['近三年最低分排位平均值'] = tempDict['近三年最低分排位平均值']
df_admission['近三年平均分排位平均值'] = tempDict['近三年平均分排位平均值']
df_admission

<ipython-input-17-13fbf34d1761>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_admission['近三年最低分排位平均值'] = tempDict['近三年最低分排位平均值']
<ipython-input-17-13fbf34d1761>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_admission['近三年平均分排位平均值'] = tempDict['近三年平均分排位平均值']

,专业名称,所属学院,近三年最低分排位平均值,近三年平均分排位平均值
0,数学类（含数学与应用数学、统计学专业）,数学学院,886,703
1,数学类（含数学与应用数学、信息与计算科学专业）,数学学院（珠海）,1430,1131
2,生物科学,农学院,3038,2356
3,生物科学类（含生物科学、生物技术、生态学专业）,生命科学学院,1799,1274
4,物理学,物理学院,1087,609
5,物理学类（含物理学、光电信息科学与工程（理学）专业）,物理学院,1166,829
6,物理学,物理与天文学院,1989,1532
7,物理学类（含物理学、天文学专业）,物理与天文学院,1845,1538
8,临床医学,医学院,2210,1657
9,临床医学,中山医学院,1178,766
10,临床医学（八年制）,中山医学院,305,220
11,经济学类（含经济学、金融学、工商管理、会计学专业）,国际金融学院,1318,991
12,经济学类（含国际商务、管理科学、金融学、经济学专业）,岭南学院,384,304
13,经济学类（含金融学、经济学专业）,岭南学院,502,288
14,计算机类（含计算机科学与技术、网络空间安全专业）,数据科学与计算机学院,581,452
15,计算机类（含计算机科学与技术、网络空间安全、信息与计算科学、软件工程专业）,数据科学与计算机学院（软件学院）,613,482
16,计算机类（含智能科学与技术、交通工程专业）,智能工程学院,1474,991

In [18]:
score = 0
rank = 0

while True:
    scoreOrRank = input('请输入您的分数或全省排名:(xxx分/xxx名)')
    # 均转化成排位来计算
    if scoreOrRank[-1:]=='分':
        score = scoreOrRank[:-1]
        rank = int(df_scoreRank2021[df_scoreRank2021['分数段']==score]['累计'].tolist()[0])
        print('对应排位为:%d' % rank)
        break
    elif scoreOrRank[-1:]=='名':
        rank = int(scoreOrRank[:-1])
        print('对应全省排位为:%d名' % rank)
        break
    else:
        print('输入有误!')
        print('--------------------')

请输入您的分数或全省排名:(xxx分/xxx名)1370名
对应全省排位为:1370名

### 二、推荐算法
>将学生排名与近三年录取情况中的排名进行比较，计算"**性价比**"最高的报考专业

共有两个超参数`TOP_N`, `RECOMMEND_TOLERANCE`

每类推荐专业默认最多共推荐`3`个**方向**，推荐宽容度默认为`100`
###### 所设计的报考专业分为两类，推荐算法大致如下：

1. 稳妥专业（学生排名在往年录取平均排名附近。报考此类专业较为稳妥，录取概率较大）
2. 摸高专业（学生排名在往年录取最低排名附近。报考此类专业可能会无法录上，录取概率较小）


*注意事项：*

*1. 因为缺少往年的招生计划数据，无法将往年与2021年的招生计划中的名额数目等进行比较，故无法预测2021录取的平均/最低排名的上浮与下跌等变化，本统计只基于往年的排名给出建议*

*2. 由于2021招生计划中的专业名称与往年录取情况中的专业名称有较大出入，故仅基于往年录取情况的专业名称给出推荐，并会一并附上2021招生计划中与之相关的专业名称供用户进行参考*

*3. 宽容度最好能够进行调整，因为宽容度大小要视学校每年招生名额的变动而变动*

In [19]:
# 每类推荐专业方向默认最多推荐3个
TOP_N = 3
#  推荐宽容度默认为100
RECOMMEND_TOLERANCE = 100

In [20]:
aRankAvg = df_admission['近三年平均分排位平均值'].tolist()
lRankAvg = df_admission['近三年最低分排位平均值'].tolist()

def filterFunc(x):
    if x<rank:
        return abs(x-rank)<RECOMMEND_TOLERANCE
    else:
        return True

# 排名向前波动若在宽容度容忍范围内，则纳入考虑范围
aRankAvg = list(filter(filterFunc, aRankAvg))
aRankAvg.sort()
aRankAvg = aRankAvg[:min(TOP_N, len(lRankAvg))]


lRankAvg = list(filter(filterFunc, lRankAvg))
lRankAvg.sort()
lRankAvg = lRankAvg[:min(TOP_N, len(lRankAvg))]

In [21]:
aRankAvg, lRankAvg

([1274, 1532, 1538], [1318, 1430, 1474])

In [22]:
# 将两类推荐专业的信息提取出来
df_admissionA = df_admission[df_admission['近三年平均分排位平均值'].isin(aRankAvg)]
df_admissionA = df_admissionA.reset_index(drop=True)
df_admissionL = df_admission[df_admission['近三年最低分排位平均值'].isin(lRankAvg)]
df_admissionL = df_admissionL.reset_index(drop=True)

In [23]:
# 稳妥专业推荐（基于往年专业）
df_admissionA

                      专业名称     所属学院  近三年最低分排位平均值  近三年平均分排位平均值
0  生物科学类（含生物科学、生物技术、生态学专业）   生命科学学院         1799         1274
1                      物理学  物理与天文学院         1989         1532
2         物理学类（含物理学、天文学专业）  物理与天文学院         1845         1538

In [24]:
# 摸高专业推荐（基于往年专业）
df_admissionL

                        专业名称      所属学院  近三年最低分排位平均值  近三年平均分排位平均值
0    数学类（含数学与应用数学、信息与计算科学专业）  数学学院（珠海）         1430         1131
1  经济学类（含经济学、金融学、工商管理、会计学专业）    国际金融学院         1318          991
2      计算机类（含智能科学与技术、交通工程专业）    智能工程学院         1474          991

In [25]:
df_recommendAccording = pd.concat(
    [df_admissionA, df_admissionL],
    keys=['稳妥专业推荐(基于往年专业)', '摸高专业推荐(基于往年专业)']
)
df_recommendAccording

                                       专业名称      所属学院  近三年最低分排位平均值  \
稳妥专业推荐(基于往年专业) 0    生物科学类（含生物科学、生物技术、生态学专业）    生命科学学院         1799
               1                        物理学   物理与天文学院         1989
               2           物理学类（含物理学、天文学专业）   物理与天文学院         1845
摸高专业推荐(基于往年专业) 0    数学类（含数学与应用数学、信息与计算科学专业）  数学学院（珠海）         1430
               1  经济学类（含经济学、金融学、工商管理、会计学专业）    国际金融学院         1318
               2      计算机类（含智能科学与技术、交通工程专业）    智能工程学院         1474

                  近三年平均分排位平均值
稳妥专业推荐(基于往年专业) 0         1274
               1         1532
               2         1538
摸高专业推荐(基于往年专业) 0         1131
               1          991
               2          991

In [26]:
df_admissionScheme2021

               专业名称  计划数   科类
0       经济学类（经管实验班）  286  物理类
1        数学类（数学实验班）  139  物理类
2   计算机类（广州，大数据实验班）  266  物理类
3    计算机类（珠海，智能实验班）  386  物理类
4   计算机类（深圳，新工科实验班）  499  物理类
5       物理学类（物理实验班）  319  物理类
6   生物科学类（广州，理工实验班）  433  物理类
7         临床医学（八年制）   30  物理类
8  临床医学类（深圳，新医科实验班）  249  物理类
9   临床医学类（广州，医学实验班）  326  物理类

In [27]:
# 反关联2021招生计划中的专业
queryKeyWordArr = []
tempIndexArr = []
for (index, item) in enumerate(df_admissionA['专业名称']):
    temp = item
    if temp.find('（')!=-1:
        temp = item[:item.find('（')]
    if temp.find('类')!=-1:
        temp = temp[:temp.find('类')]
    queryKeyWordArr.append(temp)
      
queryKeyWordArr = list(set(queryKeyWordArr))    
print(queryKeyWordArr)
for keyWord in queryKeyWordArr:
    for (index, item) in enumerate(df_admissionScheme2021['专业名称']):
#         print(keyWord, item)
        if keyWord  in item:
#             print(index)
            tempIndexArr.append(index)

# print(tempIndexArr)
            
df_recommendA = df_admissionScheme2021.loc[tempIndexArr]    
df_recommendA = df_recommendA.reset_index(drop=True)


queryKeyWordArr = []
tempIndexArr = []
for (index, item) in enumerate(df_admissionL['专业名称']):
    temp = item
    if temp.find('（')!=-1:
        temp = item[:item.find('（')]
    if temp.find('类')!=-1:
        temp = temp[:temp.find('类')]
    queryKeyWordArr.append(temp)
      
queryKeyWordArr = list(set(queryKeyWordArr))    
print(queryKeyWordArr)
for keyWord in queryKeyWordArr:
    for (index, item) in enumerate(df_admissionScheme2021['专业名称']):
#         print(keyWord, item)
        if keyWord  in item:
#             print(index)
            tempIndexArr.append(index)

# print(tempIndexArr)
            
df_recommendL = df_admissionScheme2021.loc[tempIndexArr]    
df_recommendL = df_recommendL.reset_index(drop=True)

['物理学', '生物科学']
['计算机', '数学', '经济学']

In [28]:
# 稳妥专业推荐（基于2021招生计划）
df_recommendA

              专业名称  计划数   科类
0      物理学类（物理实验班）  319  物理类
1  生物科学类（广州，理工实验班）  433  物理类

In [29]:
# 摸高专业推荐（基于2021招生计划）
df_recommendL

              专业名称  计划数   科类
0  计算机类（广州，大数据实验班）  266  物理类
1   计算机类（珠海，智能实验班）  386  物理类
2  计算机类（深圳，新工科实验班）  499  物理类
3       数学类（数学实验班）  139  物理类
4      经济学类（经管实验班）  286  物理类

In [30]:
# 合并推荐信息
df_recommend = pd.concat(
    [df_recommendA, df_recommendL],
    keys=['稳妥专业推荐(基于2021招生计划)', '摸高专业推荐(基于2021招生计划)']
)
df_recommend

                                 专业名称  计划数   科类
稳妥专业推荐(基于2021招生计划) 0      物理学类（物理实验班）  319  物理类
                   1  生物科学类（广州，理工实验班）  433  物理类
摸高专业推荐(基于2021招生计划) 0  计算机类（广州，大数据实验班）  266  物理类
                   1   计算机类（珠海，智能实验班）  386  物理类
                   2  计算机类（深圳，新工科实验班）  499  物理类
                   3       数学类（数学实验班）  139  物理类
                   4      经济学类（经管实验班）  286  物理类

In [31]:
if not os.path.exists('./result'):
    os.mkdir('./result')
    
df_recommend.to_excel('./result/全省排名为%d的2021年中山大学报考专业推荐.xlsx' % rank)    
df_recommendAccording.to_excel('./result/全省排名为%d的2021年中山大学专业推荐依据.xlsx' % rank)