# 高考志愿填报指导

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
scoreRank2021DataPath = './data/2021年广东省高考普通类（物理）一分一段数据.txt'

In [3]:
scoreRank2021Data = {}
with open(scoreRank2021DataPath, 'r', encoding='utf-16') as f2021:
    linecount = 0
    columns = []
    while True:
        line = f2021.readline()
        linecount += 1
        if not line:
            break
        rowDataArr = line.strip().split('\t')

        if linecount==2:    
            columns = rowDataArr
            for (index, item) in enumerate(columns):
                scoreRank2021Data[item] = []   
        elif linecount>2:
            
            if not line.strip():
                continue
            for (index, item) in enumerate(rowDataArr):
                scoreRank2021Data[columns[index]].append(item)

In [4]:
df_scoreRank2021 = pd.DataFrame(data=scoreRank2021Data)

In [5]:
# 2021年分数-排位数据
df_scoreRank2021

     分数段  人数      累计
0    695  24      24
1    694   5      29
2    693   8      37
3    692   7      44
4    691  10      54
..   ...  ..     ...
591  104   3  337978
592  103   4  337982
593  102   2  337984
594  101   3  337987
595  100   1  337988

[596 rows x 3 columns]

In [6]:
scoreOrRank = input('请输入您的分数或排名:(xxx分/xxx名)')

请输入您的分数或排名:(xxx分/xxx名)600分

In [13]:
score = 0
rank = 0

# 均转化成排位来计算
if scoreOrRank[-1:]=='分':
    score = scoreOrRank[:-1]
    rank = int(df_scoreRank2021[df_scoreRank2021['分数段']==score]['累计'].tolist()[0])
    print('对应排位为:%d' % rank)
elif scoreOrRank[-1:]=='名':
    rank = int(scoreOrRank[:-1])
    print('对应排位为:%d' % rank)
    
else:
    print('输入有误')
    exit(0)

对应排位为:23749